.back-button button {
  background-color: #e50914;
  color: #fdfcfc;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}


.register-container { 
    max-width: 600px; 
    margin: 2rem auto 2rem auto; 
    // margin-bottom: 1rem;
    padding: 2rem; 
    background-color: #111; 
    color: #fff; 
    border: 1px solid #e50914; 
    border-radius: 8px;
h2 { 
    color: #fafafa; 
    margin-bottom: 1.5rem; 
    text-align: center; }
mat-form-field { 
    width: 100%; 
    margin-bottom: 1rem;
   .mat-form-field-infix {
      background-color: #222;
      color: #fff;
}

input, textarea {
  color: #080808;
}

}


.sigilo-label { 
    margin-top: 1rem; 
    display: block; 
    font-weight: bold; 
    color: #ccc; }

.sigilo-group { 
    display: flex; 
    gap: 1rem; 
    margin-bottom: 1.5rem;
  mat-radio-button {
    color: #fffafa;
}


}
.button-subimit { 
    background-color: #e50914; 
    color: #faf8f8; 
    font-size: 1rem;
    font-weight: bold;
    height: 3rem;
    &:hover {
      background-color: #ff1a1a;
}
}

.button-reset { 
    background-color: black; 
    width:8rem;
    color: #fdfdfd; 
    font-size: 1rem;
    font-weight: bold;
    margin-left: 1rem;
    height: 3rem;
    &:hover {
      background-color:#222222;
}

} } 

