.register-container { 
    max-width: 600px; 
    margin: 4rem auto; 
    padding: 2rem; 
    background-color: #111; 
    color: #fff; 
    border: 1px solid #e50914; 
    border-radius: 8px;
h2 { 
    color: #fafafa; 
    margin-bottom: 1.5rem; 
    text-align: center; }
mat-form-field { 
    width: 100%; 
    margin-bottom: 1rem;
   .mat-form-field-infix {
      background-color: #222;
      color: #fff;
}

input, textarea {
  color: #fff;
}

}


.sigilo-label { 
    margin-top: 1rem; 
    display: block; 
    font-weight: bold; 
    color: #ccc; }

.sigilo-group { 
    display: flex; 
    gap: 1rem; 
    margin-bottom: 1.5rem;
  mat-radio-button {
    color: #fffafa;
}


}
button { 
    background-color: #e50914; 
    color: #faf8f8; 
    font-weight: bold;
    &:hover {
      background-color: #ff1a1a;
}


} } 

