 <div class="back-button">
    <button (click) = "Back_button_navigate()">Voltar</button>
  </div>

<div class="form-scroll-wrapper">
<mat-card class="register-container">
<h2>Cadastro de Usuário</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill"><mat-label>Nome</mat-label>
    <input matInput formControlName="nome" required />
  </mat-form-field>

 <mat-form-field appearance="fill">
  <mat-label>Idade</mat-label>
  <input matInput type="number" formControlName="idade" required />
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Setor</mat-label>
  <!-- <input matInput formControlName="setor" required /> -->
   <mat-select formControlName="setor" required>
      <mat-option *ngFor= "let setor of setores" [value] ="setor">
      {{setor}}
    </mat-option>
    
   </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Cargo</mat-label>
  <mat-select formControlName="cargo" required>
      <mat-option *ngFor= "let cargo of cargos" [value] ="cargo">
      {{cargo}}
    </mat-option>
    
   </mat-select>
  <!-- <input matInput formControlName="cargo" required /> -->
</mat-form-field>

 <mat-form-field appearance="fill">
  <mat-label>Email</mat-label>
  <input matInput formControlName="email" required />
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Senha</mat-label>
  <input matInput [type]="ocultarSenha ? 'password' : 'text'" formControlName="senha" required />
  <button mat-icon-button matSuffix (click)="alternarSenha()" [attr.aria-label]="'Alternar visibilidade da senha'">
    <mat-icon>{{ ocultarSenha ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  <mat-error *ngIf="registerForm.get('senha')?.hasError('minlength')">
    A senha precisa ter no mínimo 6 caracteres.
  </mat-error>

</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Confirmar Senha</mat-label>
  <input matInput [type]="ocultarSenha ? 'password' : 'text'" formControlName="confirmar_senha" required />
  <button mat-icon-button matSuffix (click)="alternarSenha()" [attr.aria-label]="'Alternar visibilidade da senha'">
    <mat-icon>{{ ocultarSenha ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  <mat-error *ngIf="registerForm.get('confirmar_senha')?.hasError('minlength')">
    A senha precisa ter no mínimo 6 caracteres.
  </mat-error>
</mat-form-field>

<mat-error *ngIf="registerForm.hasError('senhaNaoConfere')">
  As senhas não coincidem.
</mat-error>



<button mat-raised-button color="primary" class="button-subimit" type="submit">Cadastrar</button>
<button mat-raised-button color="primary" class="button-reset" type="reset">Limpar</button>
</form>
</mat-card>
</div>  

<div class="footer">
<br>
</div>