<mat-card class="process-card" appearance="outlined">
  <mat-card-header class="process-card__description">
    <mat-card-title>Wo Error Handling</mat-card-title>
    <!-- <mat-card-subtitle>HE Material </mat-card-subtitle> -->
    <button  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Deletar</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <mat-card-content class="process-card__content">
    <p class="process-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula tellus sit amet nunc feugiat placerat. Integer vel libero vitae lectus bibendum porttitor sed vel enim. Etiam metus mi, semper vitae leo at, semper euismod libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a iaculis ex, in iaculis erat.
    </p>
  </mat-card-content>
</mat-card>
