@use '@angular/material' as mat;



html {
  @include mat.card-overrides((
    elevated-container-color: red,
    elevated-container-shape: 32px,
    title-text-size: 2rem,
  ));
}

// ::ng-deep button[mat-icon-button]
.button_menu
{
  background-color: #2a2a2a; // fundo escuro discreto
  color: #e0e0e0; // cor do ícone
  border-radius: 8px; // cantos arredondados
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  border: none;


  &:hover {
    background-color: #3c3c3c; // escurece um pouco no hover
  }

  mat-icon {
    color: inherit;
  }

  &:hover mat-icon {
    color: #ffffff; // ícone clareia no hover
  }
}



.process-card {
  background-color: #1e1e1e; // cor de fundo escura
  color: #f0f0f0;
  max-width: 450px;
  width: 100%;
  margin: 20px auto;
  padding: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  border: none;


  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    padding-top: 1px;
  }

  &__content {
    text-align: justify;
    text-justify: inter-word;
    text-align-last: justify;
    padding: 0 12px 12px 12px;

    .process-description {
      margin: 0;
      padding-top: 12px;
      // border-top: 1px solid #eee;
      text-align: justify;
      text-justify: inter-word;
      line-height: 1.6;
      text-align-last: left;
      cursor: pointer;
    }
  }
}

.card-grid {
  display: flex;
  gap: 30px; /* espaço entre os cards */
  flex-wrap: wrap;
  justify-content: center; /* centraliza os cards horizontalmente */
}

// .process-card-footer {
//   padding: 12px;
//   .actions {
//     display: flex;
//     gap: 12px;
//     justify-content: flex-start;
//     flex-wrap: wrap;
//   }
// }
