html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; // se o app-sidebar controla a rolagem
}


.editor-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #16161d;
  // overflow-y: auto;
  // max-height: 100vh; // garante que a rolagem fique só aqui
  scroll-behavior: smooth;
}

#editorjs {
  width: 100%;
  max-width: 210mm;
  min-height: 297mm;
  background-color: #222222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 4px;
  // overflow: visible; // removido o auto para evitar rolagem interna
  text-align: justify;
}

.export-buttons {
  width: 100%;
  max-width: 210mm;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.buttons {
  background-color: #a50034;
  color: #fdfcfc;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #8e002c;
  }
}

.footer {
  background-color: #16161d;
  color: #16161d;
  height: 2rem;
}

::ng-deep .ce-toolbar__plus {
  color: whitesmoke !important;

  &:hover {
    color: #222222 !important;
  }
}

::ng-deep .ce-toolbox__button {
  color: whitesmoke !important;
  background-color: #222222;
}
