<mat-toolbar color="primary" class="custom-toolbar">
  <button
    *ngIf="authService.isAuthenticated()"
    mat-icon-button
    class="icon_sidebar_button"
    (click)="sidenav.toggle()"
    aria-label="Fechar Sidebar"
  >
    <mat-icon class="icon_sidebar">menu</mat-icon>
  </button>

  <div class="image-container" routerLink="/home">
    <img src="assets/logodock.png" width="30px" height="30px" />
    <img src="assets/logotipodockflow.png" width="150px" height="30px" />
  </div>

  <div class="button">
    <button class="login-button" routerLink="/login">Login</button>
  </div>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" [(opened)]="sidebarAberta">
    <mat-nav-list class="nav-list">
      <!-- Painel ADM: só aparece para administradores -->
      <mat-list-item *ngIf="authService.isAdmin()">
        <span matLine class="text-nav" routerLink="/painel-adm">Painel ADM</span>
      </mat-list-item>

      <!-- Menus dinâmicos por setor -->
      <mat-list-item *ngFor="let item of menuItens">
        <span matLine class="text-nav" [routerLink]="item.route">{{ item.label }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
