 <div class="back-button">
    <button (click) = "Back_button_navigate()">Voltar</button>
  </div>

<mat-card class="register-container">
<h2>{{ indexEdicao !== null ? 'Edição de Processo' : 'Cadastro de Processo' }}</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill"><mat-label>Nome</mat-label>
    <input matInput formControlName="nome" required />
  </mat-form-field>
 
<!-- <mat-form-field appearance="fill">
  <mat-label>Setor</mat-label>
   <mat-select formControlName="setor" required>
      <mat-option *ngFor= "let setor of setores" [value] ="setor">
      {{setor}}
    </mat-option>
   </mat-select>
</mat-form-field> -->

<mat-form-field>
  <mat-label>Setor</mat-label>
  <input matInput formControlName="setor" [disabled]="indexEdicao !== null" />
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Cargo</mat-label>
  <mat-select formControlName="cargo" required>
      <mat-option *ngFor= "let cargo of cargos" [value] ="cargo">
      {{cargo}}
    </mat-option>
    
   </mat-select>
  <!-- <input matInput formControlName="cargo" required /> -->
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Nome do Processo</mat-label>
  <input matInput formControlName="processo" required />
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Descrição do Processo</mat-label>
  <textarea matInput formControlName="descricao" rows="3"></textarea>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Passo a Passo</mat-label>
  <textarea matInput formControlName="passos" rows="4"></textarea>
</mat-form-field>

<label class="sigilo-label">Processo é sigiloso?</label>
<mat-radio-group formControlName="sigiloso" class="sigilo-group">
  <mat-radio-button value="sim" class="button-sigilo">
    <span style="color: white;" >Sim</span> 
  </mat-radio-button>
  <mat-radio-button value="nao" style="color: white;" class="button-sigilo">
    <span style="color: white;" >Não</span> 
  </mat-radio-button>
</mat-radio-group>

<button mat-raised-button color="primary" class="button-subimit" type="submit"> {{ indexEdicao !== null ? 'Atualizar' : 'Cadastrar' }}
</button>
<button mat-raised-button color="primary" class="button-reset" type="reset">Limpar</button>
</form>
</mat-card>

<div class="footer">
<br>
</div>